body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: black;
  color: white;
}

.wrapper {
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;
}

a {
  color: white;
}

.wrapper .weather-app {
  width: 650px;
  height: 485px;
  position: absolute;
  inset: 0 0 0 0;
  margin: auto;
  padding: 40px;
  border: solid white 1px;
  border-radius: 10px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-form-input {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.17);
}

.search-form-button {
  background: rgb(2, 98, 187);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 200ms ease;
}

.search-form-button:hover {
  background: rgb(0, 41, 88);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.weather-app-city {
  margin: 0;
  font-size: 50px;

  font-weight: 100;
  font-style: normal;
}

.weather-app-details {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0;
}

.weather-app-details strong {
  color: #ffffff;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  text-align: center;
}

.weather-forecast-day {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 10px;
}

.weather-forecast-icon {
  width: 80px;
}

.weather-forecast-temperatures {
  font-size: 18px;
}

.temp-max {
  font-weight: 400;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
